$linearSoft: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$btnLinear: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

.comingSoonContainer{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-self: center;
    align-self: center;
    padding: 60px 20px;
    position: rel;

    h1{
        display: none;
    }
    nav{
        display: none;
    }

    .were{
        font-size: 2.5rem;
        font-weight: 300;
        letter-spacing: 7px;
        color: hsl(0, 36%, 70%);
        margin-bottom: 4px;
    }
    .coming{
        color: hsl(0, 6%, 24%);
        font-size: 2.5rem;
        font-weight: 500;
        letter-spacing: 10px;
        margin-bottom: 9px;
    }

    p {
        margin-top: 5px;
        padding: 2.8px;
        font-size: .78rem;
        font-weight: 500;
        color: hsl(0, 36%, 70%);
        letter-spacing: 1px;
        line-height: 19px;

    }
    form {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 39px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        height: 45px;
        border-radius: 32px;
        border: 1px solid hsla(0, 38%, 79%, 0.855);
        position: relative;
        z-index: 1;
        img.errIcon{
            height: 23px;
            background-color: transparent;
            width: auto;
            align-self: center;
            position: absolute;
            right: 80px;
            z-index: 22;
        }
        p{
            background-color: transparent;
            position: absolute;
            top: 55px;
            left: 23px;
            font-size: .7rem;
            color: rgb(249, 97, 97);
        }
        input {
            width: 300px;
            border-radius: 32px;
            border: none;
            padding-left: 25px;
            color:  hsl(0, 25%, 67%);

        }
        input::placeholder{
            color:  hsla(0, 38%, 79%, 0.855);

        }
        input:focus {
            outline: none;
        }
        .errorBorder{
            border: 1px solid red;
            z-index: 2;
        }
        button.emailButton{
            position: absolute;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 62px;
            padding: 10px 20px;
            color: #ffffff;
            background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
            border: none;
            border-radius: 32px;
            z-index: 3;
            cursor: pointer;

            

            img {
                height: 19px;
                width: auto;
                fill: none;
                background-color: transparent;
            }
        }
        button:hover{
            box-shadow: 0  2px 35px rgb(229, 185, 232);

        }
        
    }
}

@media screen and (min-width: 700px) {

    .comingSoonContainer{
        grid-row: 1/2;
        grid-column-start: 1;
        grid-column-end: 2;
        max-width: 545px;
        text-align: left;
        padding: 0;
        height: 100vh;
        nav{
            display: block;
            padding-top: 35px;
            
        }
        .were{
            padding-top: 102px;
            font-size: 4rem;
            letter-spacing: 13px;
        }
        .coming {
            font-size: 4rem;
            letter-spacing: 13px;
            line-height: 68px;
            padding-bottom: 10px;
        }
        p{
            max-width: 420px;
            font-size: 1.0rem;
            letter-spacing: -.1px;
            line-height: 27px;
            font-weight: 400;
        }
        form {
            justify-self: flex-start;
            margin-top: 39px;
            max-width: 460px;
            margin-right: 0;
            margin-left: 0;
            height: 55px;
            img.errIcon{
                height: 23px;
                background-color: transparent;
                width: auto;
                align-self: center;
                position: absolute;
                right: 120px;
                z-index: 22;
            }

            input {
                width: 410px;
                font-size: 1.05rem;
    
            }
            input::placeholder{
                color:  hsla(0, 38%, 79%, 0.855);
    
            }
            input:focus {
                outline: none;
            }
            button.emailButton{
                width: 100px;
            }
            
        }
    }
}